.topnav {
  overflow: hidden;
  background-color: #44E3E1;
}

.topnav a {
  float: left;
  display: block;
  color: #7086F7;
  text-align: center;
  padding: 1em 0em 1em 2em;
  text-decoration: none;
  font-size: 1.3em;
}

.leftnav{
float:right;
    padding-right: 2em;
}

.topnav a:hover {
    color: white;
    transform:scale(1.5);
}

.topnav a.active {
    background-color: #7086F7;
    color: white;
    padding-right: 2em;
}




.item-container {
    display:flex;
flex-wrap: wrap;
  width: 95%;
  height: 33rem;
  margin: .4em;
  padding: 0.5em;
   align-items: center;
}


.item img {
  width: 95%;
  align-items: center;
}

.item{
    background-color: lightcyan;
    padding:1.5em;
    border-width:.5em;
    border-style: solid;
    border-color:black;
    max-width:40%;
}



h3{
    color:teal;
    font-size: 2em;
}

.price{
    color:red;
}

.description{
    font-style: italic;
    padding-bottom: .25em;
}

.sidebarnav{
    display:block;
    float:left;
    width:200px;
    margin-left:2em;
}

    /*body*/
    body{
        background-color: teal;
    }
/*Nav bar*/

    nav{
        display:flex;
        flex-wrap:wrap;
        justify-content: flex-end;
        clear:both;
        max-width: 90%;
        
    }
    nav a{
        color: teal;
        display:flex;
        float:left;
        padding:1.25rem;
        max-width: 25%;
    }

nav li{
    float:left;
    font-size: 1.5em;
     padding: .5em 1em .5em 1em;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    color: white;
    transform:scale(1.5);
}

.navbar{
    background-color: lightblue;
    margin-bottom: 2em;
    
}

 .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
}
    
    a{
        text-decoration:none;
    }
    
.name{
    display: flex;
    justify-content: center;
}

h1{
    color: lightblue;
    font-size: 2em;
}
.nameware{
    display: flex;
    flex-flow: row;
}

/* container*/


