

html{
font-family: 'Open Sans', sans-serif;
}

header{
 background-color: teal;
 margin-bottom: 3em;
}



.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #7086F7;
  text-align: center;
  padding: 1em 0em 1em 2em;
  text-decoration: none;
  font-size: 1.7em;
  vertical-align: middle;
}

.leftnav{
 float:right;
 padding-right: 2em;
}

.sort{
 display: block;
 align-content: center;
 margin-left:3em; 
 margin-bottom: 3em;
}

.topnav a:hover {
  color: white;
  transform:scale(1.2);
}

.topnav a.active {
    color: white;
    padding-right: 2em;
    min-height: 2em;
}

.center{
    text-align:center;
    color: #007E8C;
}



#item-container {
display:inline-block;
    text-align: center;
margin: auto;
padding: 0.5em;
}


.item img {
  width: 95%;
  align-items: center;
}

.item{
    display: inline-block;
    vertical-align: middle;
    height: 40em;
    background-color: lightcyan;
    padding:1.5em;
    border-width:.5em;
    border-style: solid;
    border-color:black;
    width:40%;
    align-content: center;
    margin: 0 auto 0 2em;
}


.sortbutton{
    color:#7086F7;
    background-color: #007E8C;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    padding: .3em .7em .3em .7em;
}

h3{
    color:teal;
    font-size: 2em;
    padding-bottom: .5em;
}

.price{
    color:red;
}

.description{
    font-style: italic;
    padding-bottom: .25em;
}

.sidebarnav{
    display:block;
    float:left;
    width:200px;
    margin-left:2em;
}

    /*body*/
    body{
        background-color: teal;
          background-image: url(../images/mountainsnow.png); 
    background-repeat:no-repeat;
    background-size: contain; 
        
    }

/*Nav bar*/

    nav{
        display:flex;
        flex-wrap:wrap;
        justify-content: flex-end;
        clear:both;
        max-width: 90%;
        
    }
    nav a{
        color: teal;
        display:flex;
        float:left;
        padding:1.25rem;
        max-width: 25%;
    }

nav li{
    float:left;
    font-size: 1.5em;
     padding: .5em 1em .5em 1em;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    color: white;
    transform:scale(1.5);
}

.navbar{
    background-color: lightblue;
    margin-bottom: 2em;
    
}

 .wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 50%;
}
    
    a{
        text-decoration:none;
    }
    
.name{
    display: flex;
    justify-content: center;
}

h1{
    color: lightblue;
    padding-bottom: .5em;
    font-size: 2em;
    font-family: 'Jim Nightshade', cursive;
}
.nameware{
    display: flex;
    flex-flow: row;
}

@media (max-width: 500px){
    body{
        background-image: none;
        background-color: teal;
    }
    .topnav {
        background-color: black;
    }
    
    .item{
        display: inline-block;
        width:90%;
        float:none;
        margin: 0 auto;
        height: 25em;
    }
    
    #item-container{
        text-align: center;
    }
    
    .sortbutton{
    color:#007E8C;
    background-color:#7086F7;
}


